table th, td {
	padding: 0 5pt;
}

table#tablaScripts {
	font: 10pt Arial;
	background-color: #F0FFF0;
}

table#tablaScripts td {
	background-color: #C0FFC0;
	font-weight: bold;
	"
}

table#tablaScripts td.input {
	width: 27%;
	"
}

table#tablaScripts td.input input {
	width: 68%;
	"
}

thead#theadScripts {
	background-color: #A0FFA0;
	"
}